@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}
p {
  margin: 0;
}
hr {
  width: 88%;
  color:rgba(255, 230, 230, 0.7);
}

#widget {
  position: absolute;
  top: 40px;
  right: 60px;
  max-width: 340px;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.8);
  /* background-image: url('https://pixabay.com/get/ga0a1a8ae9ec66c25bfa3d236868e4b8ef9575a92da9c2128f805500cf9ca83de7cc32b9ede3882a58983db6c8ec1aac03a5bf08900c0913a7d7b51f05be59f0a19df14239179d94364008c529f0a56cb_1920.jpg'); */
  background-size: cover;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s ease;
}

.widget__controls {
  padding: 18px;
  background-color:rgba(243, 244, 252, 0.4);
  border-radius: 15px 15px 0 0;
}
.widget__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widget__title {
  padding: 10px 20px 0;
  /* background-color: rgba(83, 65, 186, 0.6); */
}
.widget__show-forecast {
  width: 50%;
}
.widget__show-forecast,
.widget__reload-forecast {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.widget__show-forecast:hover,
.widget__reload-forecast:hover {
  color:rgb(220, 232, 8);
}

/* .widget__reload-forecast {
  margin-left: 25px;
} */

.widget__controls {
  font-weight: bold;
}

.widget__close-forecast {
	/* position: absolute;
	top: 30px;
	right: 20px; */
  position: relative;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
  transition: opacity ease 0.5s;
}

.widget__close-forecast::before,
.widget__close-forecast::after {
	content: '';
	position: absolute;
	top: 6px;
	display: block;
	width: 16px;
	height: 3px;
	background: rgb(255, 230, 230);
}

.widget__close-forecast:hover {
	opacity: 1;
  color:rgb(144, 150, 30);
}
.widget__close-forecast::before {
	transform: rotate(45deg);
}

.widget__close-forecast::after {
	transform: rotate(-45deg);
}
.widget__geolocation {
  text-align: right;
  position: relative;
}
.widget__geolocation-icon {
  position: absolute;
  width: 14px;
  margin-right: 5px;
}

.widget__day {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1rem;
}

.widget__weekday,
.widget__date,
.widget__city {
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
}

.widget__city {
  font-size: 1.2rem;
  margin-left: 22px;
}
.widget__block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 25px;
}
.widget__icon-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.widget__description {
  color:rgb(255, 230, 230);
  font-weight: bold;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
  font-size: 0.9rem;
}
.widget__temperature {
  font-size: 4rem;
  font-weight: bold;
  color:rgba(254, 202, 44, 0.9);
}
.widget__block-additional {
  padding: 15px 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.widget__wind,
.widget__chance-rain,
.widget__humidity,
.widget__pressure {
  flex-basis: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wind-info,
.chance-rain-info,
.humidity-info,
.pressure-info {
  flex-basis: 60%;
  margin-bottom: 8px;
  color:rgb(255, 230, 230);
}

.wind-title,
.humidity-title,
.chance-rain-title,
.pressure-title {
  color:rgb(255, 230, 230);
}

.widget__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}
.second-line {
  width: 88%;
  margin: 10px auto 15px;
}


.widget__future-forecast {
  padding: 0 35px 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.active {
  display: flex;
}
.closed {
  display: none;
  /* -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
  overflow: hidden;
  max-height: 0; */
}
.tomorrow,
.first-d-after-tomorrow,
.second-d-after-tomorrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.future-date {
  color:rgba(254, 202, 44, 0.9);
  font-weight: bold;
  margin: 3px 0;
  letter-spacing: 1px;
}
.future-day {
  color:rgb(255, 230, 230);
}
.future-icon {
  width: 50px;
  height: 45px;
 
}
.future-temp {
  color:rgb(255, 230, 230);
}
#open-widget {
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 60px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  background-color:rgb(30, 94, 150);
  transition: all 0.4s ease;
}

#open-widget:hover {
  background-color: rgb(9, 127, 230);
}
#open-widget:active {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  background-color:rgb(144, 150, 30);
}

